table.display .w50{width:100px;}
table.display .w60{width:60px;}
table.display .w70{width:70px;}
table.display .w80{width:80px;}
table.display .w90{width:90px;}
table.display .w100{width:100px;}
table.display .w110{width:110px;}
table.display .w120{width:120px;}
table.display .w130{width:130px;}
table.display .w140{width:140px;}
table.display .w150{width:150px;}
table.display .w160{width:160px;}
table.display .w170{width:170px;}
table.display .w180{width:180px;}
table.display .w19{width:190px;}
table.display .w200{width:200px;}