ul.oe_menu{
	float:right !important;
	height:35px;
	background:url(../images/menu.jpg);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; 
	margin-right:15px;
}

/*******************************************************************************Menu*/

ul.oe_menu .gach_menu{
	width:2px;
	background:url(../images/gach_menu.png);	
}

ul.oe_menu > li{
	height:35px;
	float:left;
	position:relative;
}

ul.oe_menu > li:hover{
	background:url(../images/menu_hover.jpg);
}

ul.oe_menu > .first_menu:hover{
	-moz-border-radius: 8px 0 0 8px;
	-webkit-border-radius: 8px 0 0 8px;
	border-radius: 8px 0 0 8px; 
}

ul.oe_menu > .last_menu:hover{
	-moz-border-radius: 0 8px 8px 0;
	-webkit-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0; 
}

ul.oe_menu > li:hover div{
	border-bottom:none;
	display:block;
}

ul.oe_menu > li > a{
	display:block !important;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	font-size:18px;
	line-height:30px;
	text-align:center;
	padding-left:45px;
	padding-right:45px;
	text-shadow:1px 1px -1px #111;
}
ul.oe_menu > li > a:hover{
	display:block;
	color:#000;
	text-decoration:none;
	font-weight:bold;
	font-size:18px;
	line-height:30px;
	text-align:center;
	padding-left:45px;
	padding-right:45px;
	text-shadow:1px 1px 1px #888888;
}
.oe_wrapper ul.hovered > li > a{
	background:#fff;
	text-shadow:0px 0px 1px #FFF;
}
ul.oe_menu div{
	margin-left:5px;
	position:absolute;
	top:35px;
	background:url(../images/bg_informartion.jpg);
	width:180px;
	display:none;
	-moz-border-radius:0 0 8px 8px;
	-webkit-border-radius:0 0 8px 8px;
	border-radius:0 0 8px 8px;
	border:hidden;
	z-index:500;
}

ul.oe_menu div ul li{
	height:35px;
	line-height:35px;
}

ul.oe_menu div ul li a{
	text-decoration:none;
	color:#222;
	padding:2px 2px 2px 4px;
	margin:2px;
	display:block;
	font-size:14px;
}

/********************************************************************Information*/
ul.oe_menu div .laptop{
	width:215px;
	
}

ul.oe_menu div .information a{
	text-decoration:none;
	padding:2px 2px 2px 4px;
	margin:2px;
	display:block;
	color:white;
    text-shadow:1px 1px 1px #000;
    font-weight: bold;
	font-size:16px;
}

ul.oe_menu div .information a:hover{
	text-decoration:none;
	padding:2px 2px 2px 4px;
	margin:2px;
	display:block;
	color:#333;
    text-shadow:1px 1px 1px #4faed2;
    font-weight: bold;
	font-size:16px;
}
